<%- include('../includes/head.ejs') %> 
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
	
		<h3><% if(editing){%>Update Product<%}else{%>Add Product<%}%></h3>
		<form
			class="form-control p-3 mb-5 shadow-4-strong"
			action="/admin/<%=editing?'edit':'add'%>-product"
			method="POST"
		>
			<div class="mb-3">
				<label class="form-label" for="'title">Product Title</label>
				<input class="form-control <%= inputErrors['title']? 'is-invalid':''%>" type="text" name="title" id="title" value="<%=product.title%>"/>
				<%if(inputErrors['title']){%>
					<div class="invalid-feedback"><%=inputErrors['title']%></div>
				<% } %>
			</div>
			<div class="mb-3">
				<label class="form-label" for="'imageUrl">Image Url</label>
				<input class="form-control <%= inputErrors['imageUrl']? 'is-invalid':''%>" type="url" name="imageUrl" id="imageUrl" value="<%=product.imageUrl%>"/>
				<%if(inputErrors['imageUrl']){%>
					<div class="invalid-feedback"><%=inputErrors['imageUrl']%></div>
				<% } %>
			</div>			
			<div class="mb-3">
				<label class="form-label" for="'price">Price</label>
				<input class="form-control <%= inputErrors['price']? 'is-invalid':''%>" type="number" name="price" id="price" step="0.01" value="<%=product.price%>" />
				<%if(inputErrors['price']){%>
					<div class="invalid-feedback"><%=inputErrors['price']%></div>
				<% } %>
			</div>
			<div class="mb-3">
				<label class="form-label" for="'description">Description</label>
				<textarea class="form-control <%= inputErrors['description']? 'is-invalid':''%>" rows="5" name="description" id="description"><%=product.description%></textarea>
				<%if(inputErrors['description']){%>
					<div class="invalid-feedback"><%=inputErrors['description']%></div>
				<% } %>
			</div>
            <% if(editing){%>
                <input type="hidden" name="productId" value="<%= product._id%>"/>
            <%}%>
			<div class="mb-3">
				<input type="hidden" name="_csrf" value="<%= csrfToken%>">
				<button class="btn btn-primary w-25 p-3 bg-custome-primary btn-custome" type="submit" >
					<% if(editing){%>Update Product<%}else{%>Add Product<%}%>
				</button>
			</div>
		</form>
<%- include('../includes/end.ejs') %>
