<header class="main-header">
    <nav class="navbar navbar-expand-md bg-custome-primary navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Shop</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent"
            >
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link <%= path==='/'?'active':''%>" href="/">
                            Shop
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= path==='/products'?'active':''%>" href="/products">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= path==='/cart'?'active':''%>" href="/cart">
                            Cart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= path==='/orders'?'active':''%>" href="/orders">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= path==='admin/add-product'?'active':''%>" href="/admin/add-product">
                            Add Product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= path==='admin/admin-products'?'active':''%>" href="/admin/admin-products">
                            Admin Products
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container">
