    <%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs')%>
        <% if(products.length>0){ 
            let total=0;
        %>
            <div class="d-flex justify-content-center row">
                <div>
                    <div class="p-2">
                        <h4>Shopping cart</h4>                        
                    </div>
                    <% products.forEach(p=>{%>
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                            <div class="mr-1 cart-image col-1">
                                <img class="rounded" src="<%= p.imageUrl %>" alt="Image Cap" width="70">
                            </div>
                            <div class="d-flex flex-column col-2">
                                <%= p.title %>
                            </div>
                            <div class="d-flex flex-row align-items-center qty col-2">
                                <form action="/cart-update-qty" method="POST" class="ms-auto">
                                    <input type="hidden" name="productId" value="<%= p.id %>">
                                    <input type="hidden" name="incrQty" value="false">
                                    <button type="submit" class="btn btn-light fa fa-minus text-danger"></button>
                                </form>                                
                                <span class="text-grey mx-2"><%= p.cartItem.quantity %></span>
                                <form action="/cart-update-qty" method="POST" class="ms-auto">
                                    <input type="hidden" name="productId" value="<%= p.id %>">
                                    <input type="hidden" name="incrQty" value="true">
                                    <button type="submit" class="btn btn-light fa fa-plus text-success"></button>
                                </form>
                                
                            </div>
                            <div class="col-1">
                                $<%= p.price %>
                            </div >
                            <div class="col-1">
                                $<%= parseFloat(p.price * p.cartItem.quantity).toFixed(2) %>
                            </div>
                            <div class="d-flex align-items-center col-1">
                                <form action="/cart-delete-item" method="POST" class="ms-auto">
                                    <input type="hidden" name="productId" value="<%= p.id %>">
                                    <button type="submit" class="btn btn-light text-danger fa fa-trash">
                                    </button>
                                </form> 
                                
                            </div>
                        </div>
                    <% 
                    total=p.price * p.cartItem.quantity + total;
                }) %>
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <span>Total:</span>
                    <h5>$<%= parseFloat(total).toFixed(2) %></h5>
                </div>
                    <form action="/create-order" method="POST">
                        <button class="btn btn-primary btn-custom-primary float-end mt-3 px-3 btn-custome" type="submit">
                            Proceed to Checkout
                        </button>
                    </form>    
                </div>
            </div>
        <%}else{%>
            <h1>Cart is empty!</h1>
        <%}%>

<%- include('../includes/end.ejs') %>
