    <%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs')%>
        <% if(orders.length>0){ %>
            <ul>
                <% orders.forEach(order=>{ %>
                <h1>#<%=order._id%> <a href="/orders/<%= order._id %>">Invoice</a></h1>
                <ul>
                    <% order.products.forEach(p=>{ %>
                        <li><%= p.product.title %> (<%= p.quantity %>) </li>
                <% }); %>
                </ul>
        <% }); %>

            </ul>
        <%}else{%>
            <h1>No Orders</h1>
        <% } %>
<%- include('../includes/end.ejs') %>
